services:
  mariadb:
    image: 'mariadb:10'
    healthcheck:
      test: ['CMD', 'healthcheck.sh', '--connect', '--innodb_initialized']
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 3
    environment:
      MARIADB_ROOT_PASSWORD: root
    ports:
      - '${MARIADB_PORT:-3306}:3306'

  qeddb:
    build:
      dockerfile_inline: |
        FROM ruby:3.3
        RUN apt-get update -y && apt-get install -y yarnpkg
        WORKDIR /app
        COPY Gemfile Gemfile.lock package.json yarn.lock ./
        RUN gem install bundle
        RUN bundle config set --local path 'vendor/bundle'
        RUN bundle install
        RUN yarnpkg install
    working_dir: /app
    entrypoint: /app/bin/docker-entrypoint
    volumes:
      - "./app:/app/app"
      - "./test:/app/test"
      - "./public:/app/public"
      - "./bin:/app/bin"
      - "./config:/app/config"
      - "./db:/app/db"
      - "./Rakefile:/app/Rakefile"
      - "./config.ru:/app/config.ru"
    depends_on:
      mariadb:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql2://root:root@mariadb:3306/qeddb
    env_file:
      - path: .env
        required: false
    ports:
      - "${RAILS_HTTP_PORT:-3000}:3000"
    command: ./bin/rails server -b ${RAILS_HTTP_HOST:-0.0.0.0}
