<fieldset id="person_payments_fieldset">
	<legend><%= Payment.model_name.human(count: :other) =%></legend>
	<div class="actions">
		<%= form.submit t('people.edit_payments.submit') %>
	</div>
	Hier kann man gezahlte Mitgliedsbeiträge eintragen:
	<%= form.fields_for :payments, @person.payments.reverse do |payment| %>
		<%= render partial: 'payments/payment_fields', locals: {form: payment} %>
	<% end %>
</fieldset>
