<% 1.times {@person.payments.build} %>

<% if @person_policy.edit_payments? %>
<div class="flexlayout">
<%= form_with(model: @person, local: true) do |form| %>
	<%= hidden_field_tag 'formular', 'edit_payments' %>
	<fieldset>
	<%= render partial: "shared/errors", locals: {object: @person} %>
	<%= render partial: 'payments_fieldset', locals: {form: form} %>
	</fieldset>
<% end %>
</div>
<% end %>
