<p>Hallo <%= @registration.person.full_name %>!</p>

<p>Wir haben deine Anmeldung für die Veranstaltung
<b><%= link_to(@registration.event.title, @registration.event) %></b> erhalten und werden sie umgehend bearbeiten.</p>

<p>Unter folgenden Link kannst du deine Anmeldedaten einsehen und bis zum Anmeldeschluss noch abändern:
 <b><%= link_to("Anmeldedaten anzeigen", @registration) %></b></p>

<p>Beachte bitte, dass deine Anmeldung erst gültig ist, nachdem dein Teilnahmebeitrag auf unserem Konto angekommen ist.
Die Kontoinformationen findest du unter folgendem Link:
 <b><%= link_to "Kontodaten anzeigen", Rails.configuration.banking_link %></b></p>

<p>Ansonsten freuen wir uns schon herzlich deine Teilnahme!</p>
