<p>Liebe Organisatoren!</p>

<p>Für die Veranstaltung <b><%= link_to(@registration.event.title, @registration.event) %></b> hat sich ein neuer Teilnehmer <b><%= link_to(@registration.person.full_name, @registration.person) %></b> angemeldet.</p>

<p>Unter folgenden Link könnt ihr seine Anmeldedaten einsehen und gegebenfalls noch ergänzen:
 <b><%= link_to("Anmeldedaten anzeigen", @registration) %></b></p>
