<% provide :title, Group.model_name.human(count: :other) %>


<article id="groups">
	<h1><%= Group.model_name.human(count: :other) %></h1>

	<p>Hier können alle Gruppen eingestellt werden. Gruppen umfassen mehrere Personen und dienen dazu, Berechtigungstufen und Emailverteiler einfacher zu konfigurieren.</p>

	<div class="overview">
		<dl>
		<% @groups.each do |group| %>
			<dt><%= group_link(group) %></dt>
			<dd><%= group.description %></dd>
		<% end %>
		</dl>
	</div>

	<div class="actions">
		<%= new_group_link %>
	</div>
</article>
