<fieldset class="contact">
	<div class="aligned">
		<%= form.label :protocol %>
		<%= form.text_field :protocol, list: 'protocol_list', size: 10 %>
		<%= form.label :identifier %>
		<%= form.text_field :identifier, size: 15 %>
	</div>
</fieldset>
