<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <p><b>Hinweis:</b> Diese Email wurde automatisch erstellt. <br>
    Falls es Fragen gibt oder Probleme auftreten,
    wendet euch bitte das Webmasterteam unter der Emailadresse <%= admin_email_link %>.
  </body>
</html>
