<%= yield %>

Hinweis: Diese Email wurde automatisch erstellt. Falls es Fragen gibt oder Probleme auftreten, wende dich bitte an das Webmasterteam unter der Emailadresse <%= Rails.configuration.admin_email_address %></p>
